<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Viewer" Version="1.2.1.0" Manufacturer="trylock" UpgradeCode="2c734e2d-7905-4ce4-b183-4163c29e3e0a">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="" />
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id="NetFx472Redist"/>
      <MsiPackage Compressed="yes" SourceFile="$(var.ViewerSetup.TargetPath)" Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>