<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Viewer" Version="1.0.0.0" Manufacturer="trylock" UpgradeCode="5896645a-72fd-4dbf-8006-605ecd01292f">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl="" />
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id="NetFx472Redist"/>
      <MsiPackage SourceFile="$(var.ViewerSetup.TargetPath)" />
    </Chain>
  </Bundle>
</Wix>