<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpD6493198A480101FF6F82F7174D09A71" Guid="{FBF97262-9C06-4F88-8D01-D828B9F5DFA9}">
                <File Id="filEB8D53A8C23631C31D5D803F4B315074" KeyPath="yes" Source="$(var.BINFOLDER)\Antlr4.Runtime.Standard.dll" />
            </Component>
            <Component Id="cmp2EFB3045BC8C5AF14878AA6F189FFA6B" Guid="{DA6AB8F4-AB41-49E6-A401-7601E589FD40}">
                <File Id="fil881C7292EABE899CFAA2A25EB1052B83" KeyPath="yes" Source="$(var.BINFOLDER)\Antlr4.Runtime.Standard.xml" />
            </Component>
            <Component Id="cmpE1894166020E41B8A258AA28467DF771" Guid="{3E5B908C-5563-4F57-A7E0-BBAF483378EF}">
                <File Id="fil278489AB51E4F297B7F5090488282A24" KeyPath="yes" Source="$(var.BINFOLDER)\atk-sharp.dll" />
            </Component>
            <Component Id="cmpFBDEADA3E6D5433A3AF8FBE6F20F9D04" Guid="{F951C924-7751-41B5-9DC2-2E87E08D2C43}">
                <File Id="fil705825C9CE4459CCB09E085F60091D74" KeyPath="yes" Source="$(var.BINFOLDER)\atk-sharp.pdb" />
            </Component>
            <Component Id="cmpB1C04CF66E83944AA1F8D3DFCDEBF11C" Guid="{D3511684-06C2-4F4C-935A-51B41BC97C22}">
                <File Id="filCE8DE41CFB8923C4878F95997F089EEC" KeyPath="yes" Source="$(var.BINFOLDER)\gdk-sharp.dll" />
            </Component>
            <Component Id="cmp8B9B5CC522881D103A6C750FB699779A" Guid="{0A7D78A3-2533-4A33-8786-8008CD14A0AE}">
                <File Id="fil33AF9C034B288C25CC3A5B210A16206D" KeyPath="yes" Source="$(var.BINFOLDER)\gdk-sharp.pdb" />
            </Component>
            <Component Id="cmp62F30D2E0A7A2D71AEDE8871AD61EBDF" Guid="{126C65CC-22CD-489B-8CAC-045783BF32B8}">
                <File Id="fil7544CBA41DC1BCB7988FCD9DE7B0B16E" KeyPath="yes" Source="$(var.BINFOLDER)\glib-sharp.dll" />
            </Component>
            <Component Id="cmp3C57E794515FB33A680F431942C9E316" Guid="{03C87C79-A34A-4C90-888B-EBE435860584}">
                <File Id="filE72F7D703A186141C77D050480C18785" KeyPath="yes" Source="$(var.BINFOLDER)\glib-sharp.pdb" />
            </Component>
            <Component Id="cmpB170907AEC4205D58448080E1F8633CE" Guid="{EB61843D-14F3-456E-8F17-28CB083CA72E}">
                <File Id="fil59661727AE85F419AA051E809D480AB6" KeyPath="yes" Source="$(var.BINFOLDER)\gtk-sharp.dll" />
            </Component>
            <Component Id="cmp7A6DB975FC72819EA6FE5836E0FAB4EF" Guid="{BEC4DC86-1C14-4093-B79E-1869EDD83FEE}">
                <File Id="filD7B08297A759A21ACA2ED5F664EC727D" KeyPath="yes" Source="$(var.BINFOLDER)\libSkiaSharp.dll" />
            </Component>
            <Component Id="cmp599C92351CD0C78C93182B0BDFF9219C" Guid="{D63B37E5-5365-4AA8-A091-AFA1CFC1D277}">
                <File Id="fil7EED7CF2E1876B630CDA68790C4216A8" KeyPath="yes" Source="$(var.BINFOLDER)\libSkiaSharp.dylib" />
            </Component>
            <Component Id="cmpFDD409D63AAED0F59378D2207BDBD3E4" Guid="{A5C72FE4-B5E0-46A3-A851-C08FEC044BD9}">
                <File Id="filE7A9B748F9757568126AA1422131699B" KeyPath="yes" Source="$(var.BINFOLDER)\MetadataExtractor.dll" />
            </Component>
            <Component Id="cmp97DF18115D02018409BACB7C6480E2FC" Guid="{F986046F-A2BF-4659-B551-2911732143CF}">
                <File Id="fil2B808BEF583B9D9681D0A9EAA0D3F1E7" KeyPath="yes" Source="$(var.BINFOLDER)\MetadataExtractor.xml" />
            </Component>
            <Component Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" Guid="{C8076519-241E-49C7-8DB6-CCB58545F838}">
                <File Id="filA09ADF42C6343B9B7C7780D266455CC4" KeyPath="yes" Source="$(var.BINFOLDER)\NLog.dll" />
            </Component>
            <Component Id="cmpAF162B14FA6391E4D0D34D9485A3CBEB" Guid="{70526835-1CAF-4624-A83C-E5F7B67813C0}">
                <File Id="fil938BF1D1B479C73F0CECCBD51683AA0E" KeyPath="yes" Source="$(var.BINFOLDER)\NLog.xml" />
            </Component>
            <Component Id="cmp36E09C8CF4CF3BB59033A0B44BB42EA3" Guid="{20EDD697-6F50-49F1-B84C-0455E79943AF}">
                <File Id="filA53B9DB094062FF3B44238B15BA30A2F" KeyPath="yes" Source="$(var.BINFOLDER)\pango-sharp.dll" />
            </Component>
            <Component Id="cmpD12D156178EFFB0E6344620569607A57" Guid="{C3A9DCEA-39D5-4B49-AE08-CCFC1FB7A1F0}">
                <File Id="fil559DC052545FF6FDEE7FE63E2A8C2EF2" KeyPath="yes" Source="$(var.BINFOLDER)\pango-sharp.pdb" />
            </Component>
            <Component Id="cmp658C98C0E84723AB62B81DEC00E9BAFA" Guid="{A0077233-8EDE-4287-9C26-5E5003F19CB4}">
                <File Id="filF94A6D023B07951F7D55DC1E2864FCC4" KeyPath="yes" Source="$(var.BINFOLDER)\ScintillaNET.dll" />
            </Component>
            <Component Id="cmp41D88919D97ABF34D594A4BBF063255F" Guid="{66F6C3F0-5705-4A88-8C53-4ED258DB6C2A}">
                <File Id="fil31ED5844E8ECA47381F5095C2F2A423C" KeyPath="yes" Source="$(var.BINFOLDER)\ScintillaNET.xml" />
            </Component>
            <Component Id="cmp9143FBEDB0909CDF06ED8DF33E7A8A5E" Guid="{7A4EC2D5-3394-4802-8635-E57241F7CB87}">
                <File Id="fil25B3F878ECBF570C2E9C747E6B044290" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.dll" />
            </Component>
            <Component Id="cmp06A113DC034CFE861FBCFD6DB9AA56D1" Guid="{71DAC3AD-1404-400F-B3EF-23A8AD5D9F60}">
                <File Id="fil8BDBE6F5D8BA0B0492C38C870D649C7A" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.Views.Desktop.dll" />
            </Component>
            <Component Id="cmp9A6695FDBF5FD46E06C1A5D310D9D1DC" Guid="{E5873E20-4FE5-4B56-BE4D-138B09FB1E8C}">
                <File Id="fil0FD1B6110F0BDAC2455FF81044068B95" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.Views.Desktop.xml" />
            </Component>
            <Component Id="cmp5B30729EEF3045F9D5E1D8268F6A3F87" Guid="{40295985-D0C9-4E4E-A4E1-8A480BD52340}">
                <File Id="fil650ED93AD2EAE3F1FF991193EE669047" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.Views.Gtk.dll" />
            </Component>
            <Component Id="cmpD2C92C955102921B5F8A5B90E62BFC54" Guid="{7BC03A16-D380-4CBE-A9FD-7096D952ED6E}">
                <File Id="filD672DF438E13614EA2C2787D6522FE0B" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.Views.Gtk.xml" />
            </Component>
            <Component Id="cmpD69E947103E51F942BF09FC879FAC0D5" Guid="{9A466C58-6FFD-44BE-8413-26FF5A6DE405}">
                <File Id="fil05108EE5EA18D295F1AF8988120D5A5C" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.Views.WPF.dll" />
            </Component>
            <Component Id="cmp263B3D007790C38FAFB5EA92A36235E1" Guid="{AC70B061-00A3-400F-98F9-EC7B16BD02E9}">
                <File Id="filC2A48D5E497D01A1FDA8A5385B32B937" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.Views.WPF.xml" />
            </Component>
            <Component Id="cmp8B79348984ABCE75C0D3F3F06CCD9D6E" Guid="{EE3FFE84-D44F-469B-BAB1-E0F2420B1D03}">
                <File Id="fil33CDD20002B901A4769A4B10EF9471ED" KeyPath="yes" Source="$(var.BINFOLDER)\SkiaSharp.xml" />
            </Component>
            <Component Id="cmp969F6EDF2594F3809D7A716387BF8894" Guid="{F5AF8B18-A57E-40C1-9193-F880119B76F8}">
                <File Id="fil60E3CB228DB7CBE488269EDFC1321CC6" KeyPath="yes" Source="$(var.BINFOLDER)\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp22B85696DEA0802F0E1B04E5F06007B8" Guid="{EA3A0996-436D-4D24-BFCE-310ECEDC021E}">
                <File Id="fil77CF1FA276A596B830A84030D8963B57" KeyPath="yes" Source="$(var.BINFOLDER)\System.Collections.Immutable.xml" />
            </Component>
            <Component Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" Guid="{CC5A758C-7CD8-42AF-8B0E-E0AB63B29706}">
                <File Id="fil86030949C08D40073D1F77D572C14B0D" KeyPath="yes" Source="$(var.BINFOLDER)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpE25D4339F043AE9AF876A4620A6432C9" Guid="{9B6708E3-0729-4E24-9639-7273D4D22EDC}">
                <File Id="fil231CA1DE8C286CE1F5188773A945762D" KeyPath="yes" Source="$(var.BINFOLDER)\System.Data.SQLite.dll.config" />
            </Component>
            <Component Id="cmpB0D00055965EDE11CC624747CE56C686" Guid="{23C7F903-A915-4A03-8C4E-B71AE1E5F566}">
                <File Id="fil1AD5F5CE645B996B33CF1EF5C058BA4F" KeyPath="yes" Source="$(var.BINFOLDER)\System.Data.SQLite.xml" />
            </Component>
            <Component Id="cmpE132287DD60A93D95362C6F645A25B76" Guid="{F6CA351E-BDEA-48E7-BDF4-F6FB59FD7BA5}">
                <File Id="fil4FB2C704E78CB290ABC440D1EB77F5E7" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.Core.dll" />
            </Component>
            <Component Id="cmp25080C6D4F8BF296ED27814F41808BA3" Guid="{3313621E-96F0-40A6-8086-1E0BFFC20E7D}">
                <File Id="fil3E20DDB77B080CC587E0984D5624C8C3" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.Core.pdb" />
            </Component>
            <Component Id="cmp858EE8BBEDD621DE2E3A7EA956266A7F" Guid="{EE0AD414-2180-403C-8701-54BFAD6604DC}">
                <File Id="fil7CABC2B58E2F41DF1477CBE101A11516" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.Data.dll" />
            </Component>
            <Component Id="cmpED63B6F5B740967AF618AEBC007E7F22" Guid="{7CC56269-C5F8-418B-BE4B-3F792278D515}">
                <File Id="filC5C85E36C380A5B269C84361F74F0F1E" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.Data.pdb" />
            </Component>
            <Component Id="cmp7D5834C583B9F5DA0621DE7ECCC9CE7F" Guid="{786DE347-F395-4C75-81E7-33A962F94DF2}">
                <File Id="fil9F07C0231A0F6AC09C41EF40191D0D6D" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.exe" />
            </Component>
            <Component Id="cmpF6508FBC3A59C1BBE374BCB6D63AFB13" Guid="{89FCC95B-A40D-4F3F-8F92-AEDA4DCC21AF}">
                <File Id="filE77499D1A8EAAA1AAE0176979A924757" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.exe.config" />
            </Component>
            <Component Id="cmp7184790D29EB289B2DBA12E8F1714A96" Guid="{722C1142-642C-433F-80C2-FC4A56800E50}">
                <File Id="fil40C6ABD8D00DDBA5BCC205590223E274" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.IO.dll" />
            </Component>
            <Component Id="cmp88E7E8D7FF6D7CA72A566A31A5C64F5E" Guid="{15B39BF8-A21F-48C1-AC5C-0EFBDA2C21B6}">
                <File Id="filB86FA111EFC39B7AB75EA6C350855BA7" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.IO.pdb" />
            </Component>
            <Component Id="cmp2D48773C8BC10C26A92B230834602E20" Guid="{637B6224-7112-4129-8538-FDA2A50E1763}">
                <File Id="filF670BC4649D408A3120CBD0956797550" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.pdb" />
            </Component>
            <Component Id="cmp3DD9D7A92EA9A807E81D1B516A53C0E2" Guid="{46B90CEF-89C1-4636-B1A4-AA708974D576}">
                <File Id="filBB2A89919C7106B0AFEF4388BA2E7AA4" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.Query.dll" />
            </Component>
            <Component Id="cmpBCE0C8295604E855376466BD8A0EAA05" Guid="{23EE5337-847B-4FF9-8283-5347551EF1DB}">
                <File Id="filA24E5B2DE9D0DC16EBAE2ECB74146471" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.Query.pdb" />
            </Component>
            <Component Id="cmpCD95BE695A88F4BF026AABC415931EE9" Guid="{FAD672A3-4552-4469-A285-93DB0CBB321A}">
                <File Id="fil0BEB104792302E4C67A6F6B512D97567" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.QueryRuntime.dll" />
            </Component>
            <Component Id="cmp154CEDDEA03E3D2A69519E50E775B21A" Guid="{0B5BDDB3-7179-4730-A5A4-64C219F6AA8E}">
                <File Id="filE56DE0BF9E909C098CE63057D9D3E6D5" KeyPath="yes" Source="$(var.BINFOLDER)\Viewer.QueryRuntime.pdb" />
            </Component>
            <Component Id="cmpB830A132F9B65B4871085DAC9DE1ADE2" Guid="{280FDB8F-5332-4401-A9DC-281AA627C034}">
                <File Id="fil21551399940EED76C34A4E0C7D653E98" KeyPath="yes" Source="$(var.BINFOLDER)\ViewerTheme.dll" />
            </Component>
            <Component Id="cmp445999E448019D092BB9CA070BE7A097" Guid="{5560542C-53C8-4834-950F-27C353D14209}">
                <File Id="filB5A925C79EE04FB358E6A93719A8823F" KeyPath="yes" Source="$(var.BINFOLDER)\ViewerTheme.pdb" />
            </Component>
            <Component Id="cmp2C9ADE433A5BF4F58225CCF53E6E4CF8" Guid="{C5F8FD90-04AD-444C-B4E4-376F3375E24F}">
                <File Id="filC0D8F251E1F2B460F224CE244ACA81F1" KeyPath="yes" Source="$(var.BINFOLDER)\WeifenLuo.WinFormsUI.Docking.dll" />
            </Component>
            <Component Id="cmpAB067D8F5470E21393A8E5750355C312" Guid="{B2421AAD-AC07-42F9-96C1-638E3E865902}">
                <File Id="filC9218B16CCA3B5408C404B3A7004CD7A" KeyPath="yes" Source="$(var.BINFOLDER)\WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll" />
            </Component>
            <Component Id="cmp7AAD167AF28B00F512B8879F3F0BD93D" Guid="{2F23E5EF-F1CC-4433-BE4F-8EF8C2494BCA}">
                <File Id="fil828A7A54ACD0C302B49084D6AD7070D1" KeyPath="yes" Source="$(var.BINFOLDER)\XmpCore.dll" />
            </Component>
            <Component Id="cmpB3302151149074E9D3D36DDBC64433DD" Guid="{D091759F-DFAD-4573-BD05-06BE2CB8B406}">
                <File Id="fil35A8596B82B9221AF5472AC45F3A76EB" KeyPath="yes" Source="$(var.BINFOLDER)\XmpCore.xml" />
            </Component>
            <Directory Id="dir43FCCFA109FBF584D9155DCE31E452EB" Name="x64">
                <Component Id="cmp6420F3C500BCEC22F485A87C1A85B7F4" Guid="{02EA77C8-7F31-4DCD-A475-A4106131B6C5}">
                    <File Id="fil833DA0C23169EFBB3B6C3F1E23A7BB7E" KeyPath="yes" Source="$(var.BINFOLDER)\x64\libSkiaSharp.dll" />
                </Component>
                <Component Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" Guid="{7E8DB9E0-D2C4-476E-A130-8BED8875734B}">
                    <File Id="filC7EA62E1AC64247AFBE682E8631402B8" KeyPath="yes" Source="$(var.BINFOLDER)\x64\SQLite.Interop.dll" />
                </Component>
            </Directory>
            <Directory Id="dir97F42FF68945B97AAE670945C4FDAE93" Name="x86">
                <Component Id="cmpB7AE8D67A9DB4F798023D569BD88EC71" Guid="{818DC9FA-6442-4576-8B66-E7DDAD4D359C}">
                    <File Id="fil847275AE75F2F6B8498511A1253B3C44" KeyPath="yes" Source="$(var.BINFOLDER)\x86\libSkiaSharp.dll" />
                </Component>
                <Component Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" Guid="{67ED7A43-F666-4881-9DBF-E0F5CC0301E0}">
                    <File Id="filD2ACACD0EBAF09B1953E9C3793C13C69" KeyPath="yes" Source="$(var.BINFOLDER)\x86\SQLite.Interop.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="UniqueComponentGroupName">
            <ComponentRef Id="cmpD6493198A480101FF6F82F7174D09A71" />
            <ComponentRef Id="cmp2EFB3045BC8C5AF14878AA6F189FFA6B" />
            <ComponentRef Id="cmpE1894166020E41B8A258AA28467DF771" />
            <ComponentRef Id="cmpFBDEADA3E6D5433A3AF8FBE6F20F9D04" />
            <ComponentRef Id="cmpB1C04CF66E83944AA1F8D3DFCDEBF11C" />
            <ComponentRef Id="cmp8B9B5CC522881D103A6C750FB699779A" />
            <ComponentRef Id="cmp62F30D2E0A7A2D71AEDE8871AD61EBDF" />
            <ComponentRef Id="cmp3C57E794515FB33A680F431942C9E316" />
            <ComponentRef Id="cmpB170907AEC4205D58448080E1F8633CE" />
            <ComponentRef Id="cmp7A6DB975FC72819EA6FE5836E0FAB4EF" />
            <ComponentRef Id="cmp599C92351CD0C78C93182B0BDFF9219C" />
            <ComponentRef Id="cmpFDD409D63AAED0F59378D2207BDBD3E4" />
            <ComponentRef Id="cmp97DF18115D02018409BACB7C6480E2FC" />
            <ComponentRef Id="cmpB7F1EBE42DCB1051B92D42C1EF84E2F9" />
            <ComponentRef Id="cmpAF162B14FA6391E4D0D34D9485A3CBEB" />
            <ComponentRef Id="cmp36E09C8CF4CF3BB59033A0B44BB42EA3" />
            <ComponentRef Id="cmpD12D156178EFFB0E6344620569607A57" />
            <ComponentRef Id="cmp658C98C0E84723AB62B81DEC00E9BAFA" />
            <ComponentRef Id="cmp41D88919D97ABF34D594A4BBF063255F" />
            <ComponentRef Id="cmp9143FBEDB0909CDF06ED8DF33E7A8A5E" />
            <ComponentRef Id="cmp06A113DC034CFE861FBCFD6DB9AA56D1" />
            <ComponentRef Id="cmp9A6695FDBF5FD46E06C1A5D310D9D1DC" />
            <ComponentRef Id="cmp5B30729EEF3045F9D5E1D8268F6A3F87" />
            <ComponentRef Id="cmpD2C92C955102921B5F8A5B90E62BFC54" />
            <ComponentRef Id="cmpD69E947103E51F942BF09FC879FAC0D5" />
            <ComponentRef Id="cmp263B3D007790C38FAFB5EA92A36235E1" />
            <ComponentRef Id="cmp8B79348984ABCE75C0D3F3F06CCD9D6E" />
            <ComponentRef Id="cmp969F6EDF2594F3809D7A716387BF8894" />
            <ComponentRef Id="cmp22B85696DEA0802F0E1B04E5F06007B8" />
            <ComponentRef Id="cmp6B7CE49F5F3A518047B74FB6AC2251C5" />
            <ComponentRef Id="cmpE25D4339F043AE9AF876A4620A6432C9" />
            <ComponentRef Id="cmpB0D00055965EDE11CC624747CE56C686" />
            <ComponentRef Id="cmpE132287DD60A93D95362C6F645A25B76" />
            <ComponentRef Id="cmp25080C6D4F8BF296ED27814F41808BA3" />
            <ComponentRef Id="cmp858EE8BBEDD621DE2E3A7EA956266A7F" />
            <ComponentRef Id="cmpED63B6F5B740967AF618AEBC007E7F22" />
            <ComponentRef Id="cmp7D5834C583B9F5DA0621DE7ECCC9CE7F" />
            <ComponentRef Id="cmpF6508FBC3A59C1BBE374BCB6D63AFB13" />
            <ComponentRef Id="cmp7184790D29EB289B2DBA12E8F1714A96" />
            <ComponentRef Id="cmp88E7E8D7FF6D7CA72A566A31A5C64F5E" />
            <ComponentRef Id="cmp2D48773C8BC10C26A92B230834602E20" />
            <ComponentRef Id="cmp3DD9D7A92EA9A807E81D1B516A53C0E2" />
            <ComponentRef Id="cmpBCE0C8295604E855376466BD8A0EAA05" />
            <ComponentRef Id="cmpCD95BE695A88F4BF026AABC415931EE9" />
            <ComponentRef Id="cmp154CEDDEA03E3D2A69519E50E775B21A" />
            <ComponentRef Id="cmpB830A132F9B65B4871085DAC9DE1ADE2" />
            <ComponentRef Id="cmp445999E448019D092BB9CA070BE7A097" />
            <ComponentRef Id="cmp2C9ADE433A5BF4F58225CCF53E6E4CF8" />
            <ComponentRef Id="cmpAB067D8F5470E21393A8E5750355C312" />
            <ComponentRef Id="cmp7AAD167AF28B00F512B8879F3F0BD93D" />
            <ComponentRef Id="cmpB3302151149074E9D3D36DDBC64433DD" />
            <ComponentRef Id="cmp6420F3C500BCEC22F485A87C1A85B7F4" />
            <ComponentRef Id="cmp19F6DF8A2ABC78D782D76F1EEC9A5800" />
            <ComponentRef Id="cmpB7AE8D67A9DB4F798023D569BD88EC71" />
            <ComponentRef Id="cmp77484AF39EF2F8BD64E876C33A1C3E49" />
        </ComponentGroup>
    </Fragment>
</Wix>