<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Viewer" Language="1033" Version="1.0.0.0" Manufacturer="Drahomir Hanak" UpgradeCode="d030bf0e-98e6-44f7-a844-7bb102455f57">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Viewer is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Viewer" Level="1">
      <ComponentGroupRef Id="UniqueComponentGroupName" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Viewer" />
      </Directory>
    </Directory>
  </Fragment>
</Wix>
