<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.4" targetFramework="net461" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.4" targetFramework="net461" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net471" />
  <package id="NLog" version="4.5.8" targetFramework="net471" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="net471" />
  <package id="SkiaSharp.Views" version="1.60.3" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net471" />
  <package id="XmpCore" version="6.1.10" targetFramework="net471" />
</packages>